alabaster==0.7.11
argh==0.26.2
Babel==2.6.0
backports-abc==0.5
certifi==2018.8.24
chardet==3.0.4
CommonMark==0.5.4
docutils==0.14
future==0.16.0
futures==3.1.1
idna==2.7
imagesize==1.1.0
Jinja2==2.10.1
livereload==2.5.2
MarkupSafe==1.0
packaging==18.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.2.0
pyparsing==2.2.1
pytz==2018.5
PyYAML==3.13
recommonmark==0.4.0
requests==2.19.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
tornado==5.1.1
typing==3.6.6
urllib3==1.23
watchdog==0.9.0
